[Unit]
# {{ ansible_managed }}
Description=etcd DCS member for the {{ postgres_ha_scope }} Patroni cluster
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
User={{ postgres_ha_etcd_user }}
Group={{ postgres_ha_etcd_user }}
ExecStart={{ postgres_ha_etcd_install_dir }}/etcd --config-file={{ postgres_ha_etcd_config_file }}
Restart=on-failure
RestartSec=5
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
