[Unit]
# {{ ansible_managed }}
Description=Patroni PostgreSQL HA supervisor for the {{ postgres_ha_scope }} cluster
After=network-online.target etcd.service
Wants=network-online.target
Requires=etcd.service

[Service]
Type=simple
User=postgres
Group=postgres
ExecStart=/usr/bin/patroni {{ postgres_ha_patroni_config_file }}
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartSec=10
TimeoutStopSec=30
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
