[Unit]
# {{ ansible_managed }}
Description=Schedule PostgreSQL pg_dump backups

[Timer]
OnCalendar={{ postgres_backup_on_calendar }}
RandomizedDelaySec={{ postgres_backup_randomized_delay_sec }}
Persistent=true

[Install]
WantedBy=timers.target
