[Unit]
# {{ ansible_managed }}
Description=Schedule pgBackRest {{ item.type }} backup for stanza {{ postgres_pgbackrest_stanza }}

[Timer]
Unit=pgbackrest-backup@{{ item.type }}.service
OnCalendar={{ item.on_calendar }}
RandomizedDelaySec={{ postgres_pgbackrest_randomized_delay_sec }}
Persistent=true

[Install]
WantedBy=timers.target
