---
services:
  homepage:
    image: {{ homepage_image }}
    container_name: {{ homepage_container_name }}
    restart: unless-stopped
    ports:
      - "{{ homepage_port | trim }}:3000"
    volumes:
      - {{ homepage_config_dir }}:/app/config
    environment:
      HOMEPAGE_ALLOWED_HOSTS: {{ homepage_allowed_hosts | trim }}
