# {{ ansible_managed }}
[Unit]
Description=Periodic health reconcile of the DNS zone apex

[Timer]
OnBootSec={{ technitium_dns_apex_health_check_interval }}s
OnUnitActiveSec={{ technitium_dns_apex_health_check_interval }}s
AccuracySec=1s
Unit=technitium-apex-health.service

[Install]
WantedBy=timers.target
