{{ ansible_managed | comment }}
{% for group, domains in agent_sandbox_egress_domains.items() %}
# {{ group }}
{% for domain in domains %}
{{ domain }}
{% endfor %}
{% endfor %}
# internal (converge-time)
{% for domain in agent_sandbox_internal_domains %}
{{ domain }}
{% endfor %}
