Match User {{ agent_sandbox_dispatch_user }}
    AuthorizedKeysFile /etc/ssh/agent-dispatch-keys/{{ agent_sandbox_dispatch_user }}
    AuthorizedPrincipalsFile none
    AuthorizedPrincipalsCommand none
    AuthenticationMethods publickey
    PasswordAuthentication no
    KbdInteractiveAuthentication no
    ForceCommand {{ agent_sandbox_dispatch_command }}
    DisableForwarding yes
    PermitTTY no
    PermitUserRC no
Match all
