AGENT_IMAGE={{ agent_sandbox_dispatch_image }}
AGENT_DISPATCH_STATE_DIR={{ agent_sandbox_dispatch_state_dir }}
BAO_ADDR={{ agent_sandbox_dispatch_bao_addr }}
AGENT_ROUTER_BASE_URL={{ agent_sandbox_dispatch_router_base_url }}
AGENT_DISPATCH_VIKUNJA_PROJECT={{ agent_sandbox_dispatch_vikunja_project | int }}
AGENT_NETWORK={{ agent_sandbox_network }}
AGENT_PROXY_URL=http://{{ agent_sandbox_proxy_alias }}:{{ agent_sandbox_proxy_port | int }}
