{
  "project_id": {{ agent_sandbox_zcode_feeder_project_id | int }},
  "label": {{ agent_sandbox_zcode_feeder_label | to_json }},
  "allowed_repositories": {{ agent_sandbox_zcode_feeder_repositories | to_json }},
  "state_dir": {{ agent_sandbox_zcode_feeder_dir | to_json }},
  "dispatch_state_dir": {{ agent_sandbox_zcode_feeder_dispatch_state_dir | to_json }},
  "dispatcher": {{ agent_sandbox_zcode_feeder_dispatcher | to_json }}
}
