---
services:
  {{ infisical_docker_db_service }}:
    image: {{ infisical_docker_postgres_image }}
    environment:
      POSTGRES_USER: {{ infisical_docker_db_user }}
      POSTGRES_PASSWORD: "{{ infisical_docker_db_password }}"
      POSTGRES_DB: {{ infisical_docker_db_name }}
    volumes:
      - {{ infisical_docker_postgres_data_dir }}:{{ infisical_docker_postgres_internal_data }}
    restart: {{ infisical_docker_restart_policy }}

  {{ infisical_docker_redis_service }}:
    image: {{ infisical_docker_redis_image }}
    volumes:
      - {{ infisical_docker_redis_data_dir }}:{{ infisical_docker_redis_internal_data }}
    restart: {{ infisical_docker_restart_policy }}

  {{ infisical_docker_app_service }}:
    image: {{ infisical_docker_app_image }}
    container_name: "{{ infisical_docker_container_name }}"
    depends_on:
      - {{ infisical_docker_db_service }}
      - {{ infisical_docker_redis_service }}
    environment:
      ENCRYPTION_KEY: "{{ infisical_docker_encryption_key }}"
      AUTH_SECRET: "{{ infisical_docker_auth_secret }}"
      DB_CONNECTION_URI: "{{ infisical_docker_db_uri }}"
      REDIS_URL: "{{ infisical_docker_redis_url }}"
      SITE_URL: "{{ infisical_docker_site_url }}"
    ports:
      - "{{ infisical_docker_api_port }}:{{ infisical_docker_api_port }}"
    restart: {{ infisical_docker_restart_policy }}
