{{ ansible_managed | comment }}
[Unit]
Description=Glance dashboard
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User={{ glance_user }}
Group={{ glance_user }}
WorkingDirectory={{ glance_config_dir }}
ExecStart={{ glance_bin }} --config {{ glance_config_dir }}/glance.yml
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
