[Unit]
# {{ ansible_managed }}
Description=Schedule online-consistent SQLite backups

[Timer]
OnCalendar={{ sqlite_backup_on_calendar }}
RandomizedDelaySec={{ sqlite_backup_randomized_delay_sec }}
Persistent={{ sqlite_backup_persistent | bool | lower }}

[Install]
WantedBy=timers.target
