---
services:
  db:
    image: {{ phpipam_mariadb_image }}
    container_name: phpipam-db
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: "{{ phpipam_db_root_password }}"
      MYSQL_DATABASE: "{{ phpipam_db_name }}"
      MYSQL_USER: "{{ phpipam_db_user }}"
      MYSQL_PASSWORD: "{{ phpipam_db_password }}"
    volumes:
      - {{ phpipam_mariadb_data_dir }}:/var/lib/mysql

  phpipam:
    image: {{ phpipam_www_image }}
    container_name: {{ phpipam_container_name }}
    restart: unless-stopped
    depends_on:
      - db
    ports:
      - "{{ phpipam_port }}:80"
    environment:
      IPAM_DATABASE_HOST: "{{ phpipam_db_host }}"
      IPAM_DATABASE_USER: "{{ phpipam_db_user }}"
      IPAM_DATABASE_PASS: "{{ phpipam_db_password }}"
      IPAM_DATABASE_NAME: "{{ phpipam_db_name }}"

  cron:
    image: {{ phpipam_cron_image }}
    container_name: phpipam-cron
    restart: unless-stopped
    depends_on:
      - db
    environment:
      IPAM_DATABASE_HOST: "{{ phpipam_db_host }}"
      IPAM_DATABASE_USER: "{{ phpipam_db_user }}"
      IPAM_DATABASE_PASS: "{{ phpipam_db_password }}"
      IPAM_DATABASE_NAME: "{{ phpipam_db_name }}"
