{% set substitutions = {
  '__WORKFLOW_ID__': alert_delivery_workflow_ids[item],
  '__POSTGRES_CREDENTIAL__': alert_delivery_postgres_credential_id,
  '__NTFY_CREDENTIAL__': alert_delivery_ntfy_credential_id,
  '__SLACK_CREDENTIAL__': alert_delivery_slack_credential_id,
  '__ZAMMAD_CREDENTIAL__': alert_delivery_zammad_credential_id,
  '__AI_CREDENTIAL__': alert_delivery_ai_credential_id,
  '__NTFY_URL__': alert_delivery_ntfy_url | regex_replace('/$', ''),
  '__ZAMMAD_URL__': alert_delivery_zammad_url | regex_replace('/$', ''),
  '__AI_URL__': alert_delivery_ai_url | regex_replace('/$', ''),
  '__AI_MODEL__': alert_delivery_ai_model,
  '__GENERAL_CHANNEL__': alert_delivery_general_channel,
  '__CRITICAL_CHANNEL__': alert_delivery_critical_channel,
  '__ZAMMAD_GROUP__': alert_delivery_zammad_group,
  '__CRITICAL_RULES__': alert_delivery_critical_rules | to_json,
  '__IMPACTS__': alert_delivery_critical_impacts | to_json
} %}
{% set result = namespace(text=lookup('ansible.builtin.file', role_path ~ '/files/' ~ item ~ '.json')) %}
{% for key, value in substitutions.items() %}
{% set result.text = result.text | replace(key, (value | to_json)[1:-1]) %}
{% set result.text = result.text | replace(key | replace('__', '__JS_', 1), (((value | to_json)[1:-1]) | to_json)[1:-1]) %}
{% endfor %}
{{ result.text }}
