{
  "generated_by": "ansible role llamaindex from tofu_data.constants",
  "vector_db_ports": {{ tofu_data.constants.vector_db_ports | default({}) | to_nice_json(indent=2) }},
  "service_ports": {{ tofu_data.constants.service_ports | default({}) | to_nice_json(indent=2) }}
}
