{% set profile_source = github_runner_container_seccomp_default_profile %}
{% if not profile_source.startswith('/') %}
{% set profile_source = role_path ~ '/' ~ profile_source %}
{% endif %}
{% set profile = lookup('ansible.builtin.file', profile_source) | from_json %}
{% set user_namespace_flag = github_runner_container_seccomp_user_namespace_flag | int %}
{% set namespace_flags_mask = github_runner_container_seccomp_namespace_flags_mask | int %}
{% set clone_user_mount_flags = github_runner_container_seccomp_clone_user_mount_namespace_flags | int %}
{% set bubblewrap_rules = [
  {
    'names': [github_runner_container_seccomp_bubblewrap_clone_syscall],
    'action': github_runner_container_seccomp_allow_action,
    'args': [{'index': github_runner_container_seccomp_clone_flags_argument_index | int, 'value': namespace_flags_mask, 'valueTwo': clone_user_mount_flags, 'op': github_runner_container_seccomp_masked_equal_operator}],
    'comment': 'Allow Bubblewrap clone with only user and mount namespace flags.'
  },
  {
    'names': [github_runner_container_seccomp_bubblewrap_unshare_syscall],
    'action': github_runner_container_seccomp_allow_action,
    'args': [{'index': github_runner_container_seccomp_namespace_flags_argument_index, 'value': namespace_flags_mask, 'valueTwo': user_namespace_flag, 'op': github_runner_container_seccomp_masked_equal_operator}],
    'comment': 'Allow Bubblewrap to unshare only the user namespace.'
  },
  {
    'names': [github_runner_container_seccomp_bubblewrap_setns_syscall],
    'action': github_runner_container_seccomp_allow_action,
    'args': [{'index': github_runner_container_seccomp_setns_flags_argument_index, 'value': namespace_flags_mask, 'valueTwo': user_namespace_flag, 'op': github_runner_container_seccomp_masked_equal_operator}],
    'comment': 'Allow Bubblewrap to join a user namespace.'
  },
  {
    'names': github_runner_container_seccomp_bubblewrap_mount_syscalls,
    'action': github_runner_container_seccomp_allow_action,
    'comment': 'Allow Bubblewrap to assemble its mount namespace after user namespace creation.'
  }
] %}
{{ profile | combine({'syscalls': profile.syscalls + bubblewrap_rules}) | to_nice_json }}
