# {{ ansible_managed }}
[Unit]
Description=Daily rebuild of the Molecule base image, ahead of the data reclaim

[Timer]
OnCalendar={{ github_runner_molecule_image_schedule }}
Persistent=true

[Install]
WantedBy=timers.target
