{{ ansible_managed | comment }}
# OpenBao voter-health EnvironmentFile (0600, root:{{ openbao_group }}).
SPLUNK_HEC_URL={{ openbao_voter_health_hec_url }}
SPLUNK_HEC_TOKEN={{ openbao_voter_health_hec_token }}
SPLUNK_INDEX={{ openbao_voter_health_splunk_index }}
SPLUNK_SOURCETYPE={{ openbao_voter_health_splunk_sourcetype }}
OPENBAO_VOTER_HEALTH_ROLE_ID={{ openbao_voter_health_role_id }}
OPENBAO_VOTER_HEALTH_SECRET_ID={{ openbao_voter_health_secret_id }}
