{
  "Rules": [
    {
      "ID": "expire-noncurrent",
      "Status": "Enabled",
      "Filter": {"Prefix": ""},
      "NoncurrentVersionExpiration": {"NoncurrentDays": {{ object_storage_noncurrent_expiration_days }}}
    }
  ]
}
