{
  "Rules": [
    {
      "ID": "expire-noncurrent",
      "Status": "Enabled",
      "Filter": {"Prefix": ""},
      "NoncurrentVersionExpiration": {"NoncurrentDays": {{ item.noncurrent_expiration_days | default(object_storage_noncurrent_expiration_days) }}}
    }
  ]
}
