[Unit]
Description=RustFS Object Storage
Documentation=https://rustfs.com
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User={{ object_storage_user }}
Group={{ object_storage_group }}
EnvironmentFile={{ object_storage_env_file }}
ExecStart={{ object_storage_install_dir }}/rustfs server {{ object_storage_data_dir }}
Restart=on-failure
RestartSec=10
LimitNOFILE=65536
TasksMax=infinity
TimeoutStopSec=120

[Install]
WantedBy=multi-user.target
