{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Effect": "Allow",
      "Action": {{ object_storage_iam_policy_actions[object_storage_iam_role] | to_json }},
      "Resource": [
        "arn:aws:s3:::{{ object_storage_iam_bucket }}",
        "arn:aws:s3:::{{ object_storage_iam_bucket }}/*"
      ]
    }
  ]
}
