[Unit]
Description=Sonarr (TV PVR)
Documentation=https://wiki.servarr.com/sonarr
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User={{ sonarr_user }}
Group={{ sonarr_group }}
ExecStart={{ sonarr_install_dir }}/Sonarr -nobrowser -data={{ sonarr_data_dir }}
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
