---
services:
  pve-exporter:
    image: {{ prometheus_pve_exporter_image }}
    container_name: {{ prometheus_pve_exporter_container_name }}
    restart: unless-stopped
    ports:
      - "{{ prometheus_pve_exporter_port }}:9221"
    volumes:
      - {{ prometheus_pve_exporter_data_dir }}/pve.yml:/etc/prometheus/pve.yml:ro
