# {{ ansible_managed }}
default:
    user: {{ prometheus_pve_exporter_token_id }}
    token_name: {{ prometheus_pve_exporter_token_id.split('!')[1] if '!' in prometheus_pve_exporter_token_id else '' }}
    token_value: {{ prometheus_pve_exporter_token_secret }}
    verify_ssl: {{ prometheus_pve_exporter_verify_ssl | lower }}
