{
  "distSpecVersion": "1.1.0",
  "storage": {
    "rootDirectory": "{{ zot_registry_storage_dir }}",
    "gc": true
  },
  "http": {
    "address": "{{ zot_registry_bind_address }}",
    "port": "{{ zot_registry_port }}"
  },
  "log": {
    "level": "{{ zot_registry_log_level }}"
  },
  "extensions": {
    "search": {
      "enable": true
    },
    "sync": {
      "enable": true,
      "registries": [
{% for upstream in zot_registry_upstream_registries %}
        {
          "urls": [
            "{{ upstream.url }}"
          ],
          "onDemand": true,
          "tlsVerify": true,
          "content": [
            {
              "prefix": "**"
            }
          ]
        }{{ "," if not loop.last else "" }}
{% endfor %}
      ]
    }
  }
}
