[Unit]
Description=Zot OCI Registry
Documentation=https://zotregistry.dev
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User={{ zot_registry_user }}
Group={{ zot_registry_group }}
ExecStart={{ zot_registry_install_dir }}/zot serve {{ zot_registry_config_dir }}/config.json
Restart=on-failure
RestartSec=10
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
