{{ ansible_managed | comment }}
default-host: {{ ntfy_docker_base_url }}
subscribe:
{% for topic in ntfy_docker_zammad_topics %}
  - topic: {{ topic }}
    command: {{ ntfy_docker_zammad_script_path }}
    if:
      priority: {{ ntfy_docker_zammad_priority_filter }}
{% endfor %}
