{{ ansible_managed | comment }}
NTFY_DOMAIN={{ ntfy_docker_base_url | regex_replace('^https?://', '') }}
NTFY_TOPIC={{ item.value }}
{% if item.key.startswith('all-') %}
SLACK_WEBHOOK_URL={{ ntfy_docker_slack_webhooks[ntfy_docker_slack_alerts_key] }}
POST_PROCESS_TEMPLATE="{{ ntfy_docker_slack_alerts_template }}"
{% else %}
SLACK_WEBHOOK_URL={{ ntfy_docker_slack_webhooks[item.value] }}
{% endif %}
