{{ ansible_managed | comment }}
[Unit]
Description=Publish the end-to-end ntfy canary every {{ ntfy_docker_canary_interval }}

[Timer]
OnBootSec=1min
OnUnitActiveSec={{ ntfy_docker_canary_interval }}

[Install]
WantedBy=timers.target
