{{ ansible_managed | comment }}
[Unit]
Description=Run the end-to-end ntfy canary
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart={{ ntfy_docker_canary_script_path }}
