base-url: "{{ ntfy_docker_base_url }}"
listen-http: ":80"
cache-file: "/var/cache/ntfy/cache.db"
cache-duration: "{{ ntfy_docker_cache_duration }}"
attachment-cache-dir: "{{ ntfy_docker_attachment_cache_dir }}"
