---
# Cribl Stream REST Collector: the monitored node's BMC Redfish Power endpoint.
# destination.connections schema unconfirmed against a live Cribl instance.
id: bmc_redfish_power
type: collection
conf:
  type: rest
  collectUrl: >-
    `https://{{ cribl_stream_bmc_host }}/redfish/v1/Chassis/{{
    cribl_stream_bmc_chassis }}/Power`
  collectMethod: get
  authentication: basic
  username: "{{ cribl_stream_bmc_username }}"
  password: "{{ cribl_stream_bmc_password }}"
  rejectUnauthorized: {{ cribl_stream_bmc_tls_verify | lower }}
  timeout: 30
destination:
  connections:
    - output: splunk_hec
      pipeline: bmc_hw_metrics
    - output: victoriametrics_rw
      pipeline: bmc_hw_metrics
