[Unit]
Description=Radarr (Movie PVR)
Documentation=https://wiki.servarr.com/radarr
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User={{ radarr_user }}
Group={{ radarr_group }}
ExecStart={{ radarr_install_dir }}/Radarr -nobrowser -data={{ radarr_data_dir }}
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
