---
id: bmc_redfish_{{ bmc_log.id }}
type: collection
collector: bmc_redfish_{{ bmc_log.id }}
enabled: {{ cribl_stream_bmc_enabled | lower }}
schedule:
  cronSchedule: "{{ cribl_stream_bmc_log_schedule }}"
  timezone: UTC
  maxConcurrentRuns: 1
  skippable: false
  run:
    mode: full
    rescheduleDroppedTasks: true
    maxTaskReschedule: 1
    timeRangeType: relative
    earliest: "{{ cribl_stream_bmc_log_earliest }}"
    latest: "{{ cribl_stream_bmc_log_latest }}"
    timestampTimezone: UTC
