---
# Cribl Stream Collector schedule: pve-r540 Redfish Thermal endpoint.
id: idrac_r540_redfish_thermal
type: collection
collector: idrac_r540_redfish_thermal
enabled: {{ cribl_stream_idrac_r540_enabled | lower }}
schedule:
  cronSchedule: "{{ cribl_stream_idrac_r540_schedule }}"
  timezone: UTC
  run:
    mode: full
