---
services:
  homeassistant:
    image: {{ homeassistant_image }}
    container_name: {{ homeassistant_container_name }}
    restart: unless-stopped
    network_mode: host
    volumes:
      - {{ homeassistant_data_dir }}/config:/config
    environment:
      TZ: "{{ homeassistant_tz }}"
